@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'ngx-toastr/toastr';

@import './app/app.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-typography {
    background-color: ghostwhite;
}

.mat-elevation-z8,
.mat-mdc-card {
    border-radius: 24px !important;
}
